<% if signed_in? %>
<div id="themeQuidditchConnecte">
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
</div>
<% else %>
	<div class="center hero-unit">
	  <h1>Nationale Quidditch Association</h1>
      <br />
	  <h2>
		Bienvenus visiteurs ! Tu connais le Quidditch ? Bien sur, sinon tu ne serais pas sur ce site !<br />
		La NQA t'accueille volontier dans ses rangs. Fait tes armes avec Harry Potter dans le Championnat de Poudlard ou passe avec les pros
		et participe a la coupe du monde ! <br />A vos balais ! <br />
		Si vous n'en avez pas encore visitez notre boutique : <%= link_to "Store", store_path %>
	  </h2>

	<%= video_player({:file => "/videos/IntroCoupe-de-Monde-de-Quidditch.mp4", :skin => "stormtrooper", :image => "/videos/Quidditch_logo.jpg"},
			{:width => 640, :height => 480, :id => "intro", :playlist => true}) %>
    <br />
	  <%= link_to "S'inscrire maintenant !", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
