<% provide(:title, "Modifier utilisateur") %>
<div id="themeQuidditchConnecte">
<h1>Editer votre profil</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Nom" %>
      <%= f.text_field :name %>

      <%= f.label :email, "Email" %>
      <%= f.text_field :email %>

      <%= f.label :password, "Mot de passe" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmez mot de passe" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Enregistrer", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">modifier</a>
  </div>
</div>
</div>
